ul {
    background-position: right 8px center;
    background-repeat: no-repeat;
    background-size: auto calc(100% - 16px);
    font-family: sans-serif;
    font-size: 12px;
    line-height: 16px;
    list-style-type: none;
    margin: 0;
    padding: 8px;
}

li {
    align-items: center;
    display: flex;
}
li.empty {
    font-style: italic;
}

li > img,
span {
    height: 12px;
    margin-right: 4px;
}
li > img:first-child {
    opacity: 80%;
}
span {
    display: flex;
    white-space: nowrap;
}
span:empty {
    display: none;
}

a {
    color: white;
    flex-grow: 1;
    overflow: hidden;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
}
a:visited, li.empty a {
    color: black;
}
a[href]:hover {
    text-decoration: underline;
}

.culture        { background-color: #cddc39; }
.jeunesse       { background-color: #ff9800; }
.magazine       { background-color: #607d8b; }
.sport          { background-color: #4caf50; }
.film           { background-color: #f44336; }
.serie          { background-color: #00bcd4; }
.divertissement { background-color: #aa00ff; }
.documentaire   { background-color: #9c27b0; }
.telefilm       { background-color: #f91f63; }
.divers         { background-color: black; }
