div {
    background-color: var(--color);
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    line-height: 1.4em;
    padding: 0.7em;
}
h1 {
    color: color-mix(in oklch, white 80%, var(--color) 20%);
    margin: 0;
}

ul {
    margin-bottom: 0;
    margin-top: 0.7em;
    padding-left: 0;
}
li {
    overflow: auto;
}
li p {
    float: left;
    margin-bottom: 0;
    margin-top: 0;
}
li strong {
    display: block;
    text-transform: capitalize;
    width: 60px;
}
li span {
    display: block;
}
